- var wrap = 0;
doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://bootswatch.com/4-alpha/lux/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.container
			.header.clearfix
				nav
					ul.nav.nav-pills.float-right
						li.nav-item
							a.nav-link.btn.btn-secondary(href='/')
								| Polls
								span.sr-only (current)
						if !user
							li.nav-item
								a.nav-link.btn.btn-secondary(href='/users/login') Login
							li.nav-item
								a.nav-link.btn.btn-secondary(href='/users/register') Register
						if user
							li.nav-item
								a.nav-link.btn.btn-secondary(href='/dashboard') Dashboard
							li.nav-item
								a.nav-link.btn.btn-secondary(href='#' data-toggle='modal' data-target='#pollModal') New Poll
							li.nav-item
								a.nav-link.btn.btn-secondary(href='/users/logout') Logout
				h3.text-muted Vote App
			.row
				.col-lg-12
					if success_msg.length > 0
						.alert.alert-success= success_msg

					if error_msg.length > 0
						.alert.alert-danger= error_msg

					if error.length > 0
						.alert.alert-danger= error
					block content

			footer.footer.text-center
				p &copy; Johnathan Brown 2017

		// Poll Modal
		.modal.fade#pollModal(tabindex='-1' role='dialog' aria-labelledby='modalLabel' aria-hidden='true')
			.modal-dialog(role='document')
				form(method='post' action='/poll')
					.modal-content
						.modal-header
							h5.modal-title#modalLabel Create new poll
							button.close(type='button' data-dismiss='modal' aria-label='Close')
								span(aria-hidden='true') &times;
						.modal-body
							.form-group
								label Question
								input.form-control.original(type='text' name='question' placeholder='What\'s the best programming language?')

								label Answers
								input.form-control.original(type='text' name='answer' placeholder='Javascript')
								input.form-control.original(type='text' name='answer2' placeholder='Ruby')

							.btn.btn-secondary.mx-auto#add Add new option
						.modal-footer
							button.btn.btn-secondary(data-dismiss='modal') Close
							button.btn.btn-primary(type='submit') Create Poll

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
		script(src='/js/script.js')
